---
type Props = {
    text: string;
};

const { text } = Astro.props;
---

<h2
    class="text-4xl text-white font-sans font-bold mb-5 text-center"
    style="text-shadow: 0.5px 0.5px 0.5px rgba(188, 188, 188, 0.801);"
>
    {text}
</h2>
